<header class="site-header">

  <div class="wrapper">





  <!--  Navigation menu -->
  <div class="row">
      <nav class="navbar navbar-default navbar-fixed-top sticky">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <!--<img src="{{ site.images | prepend: site.baseurl }}/favicon.ico" class="img-responsive" alt="Olympic Electrical Services logo">-->
              OES
            </a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li><a href="{{site.baseurl}}/about/index.html">About</a></li>
              <li><a href="{{site.baseurl}}/domestic/index.html">Domestic</a></li>
              <li><a href="{{site.baseurl}}/commercial/index.html">Commercial</a></li>
              <li><a href="{{site.baseurl}}/contact/index.html">Contact Us</a></li>
              <!--  This page is no use until the site is hosted properly
              <li><a href="/enquiry/">Enquiry</a></li>
              -->
              <li><a href="tel:+4411122233344" class="glyphicon glyphicon-earphone"> 07999 999999</a></li>
              <li><a href="mailto:{{site.email}}" class="glyphicon glyphicon-envelope"> {{site.email}}</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

</header>

<div class="container">
